body {
  background-color: rgb(236, 239, 241);
  font: 300 1em/1.38 museo-sans, Avenir, "Open Sans", Helvetica, Sans-serif;
  color: #455a64;
}

.footer {
  width: 100%;
  height: 100px;
  margin: 1213px auto 0;
}

.footer-container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(236, 239, 241);
}

.header-container {
  float: left;
  width: 80%;
  margin: 40px 0 0 10%;
}

.header-container .intro {
  margin-right: auto;
  margin-left: auto;
  line-height: 1.38;
  text-align: center;
}

.image {
  display: block;
  width: 110px;
  height: auto;
  margin: 30px auto 0;
  overflow: hidden;
}

.intro-6 p {
  margin-bottom: 1em;
}

.intro-container {
  float: left;
  width: 80%;
  margin: 2px 0 0 10%;
}

.intro-container .intro {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  float: left;
  margin: 2px 0 0 0.75174%;
  font: 500 1.375em/1.38 museo-slab;
  font-family: "museo-slab";
  color: #263238;
}

.nav {
  float: right;
  margin: 10px 0.86632% 0 0;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.38;
  text-transform: uppercase;
  color: #006aa9;
}

.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 17px 30px 20px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(255, 255, 255, 0.5) inset;
}

.navbar ul{
  list-style-type: none;
  d
}

.navbar ul li{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar ul li a{
  color: #37474f;
}

.navbar ul .selected a{
  color: #0277bd;
}

.navbar ul li a:hover{
  color: #455a64;
}

.navbar ul .selected a:hover{
  color: #039be5;
}

.footer a{
  font-size: 1.5em;
  color: #607d8b;
  padding: 10px;
}

.social {
  margin: 35px auto 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

._container {
  float: left;
  width: 100%;
  min-height: 700px;
  padding-bottom: 40px;
  background: #000000;
  background: url('../images/desktop.png'), url('../images/stars.png'), -webkit-linear-gradient(0deg, #4fc3f7 0%, #1565c0 100%) #eceff1;
  background: url('../images/desktop.png'), url('../images/stars.png'),    -moz-linear-gradient(0deg, #4fc3f7 0%, #1565c0 100%) #eceff1;
  background: url('../images/desktop.png'), url('../images/stars.png'),      -o-linear-gradient(0deg, #4fc3f7 0%, #1565c0 100%) #eceff1;
  background: url('../images/desktop.png'), url('../images/stars.png'),     -ms-linear-gradient(0deg, #4fc3f7 0%, #1565c0 100%) #eceff1;
  background: url('../images/desktop.png'), url('../images/stars.png'),         linear-gradient(450deg, #4fc3f7 0%, #1565c0 100%) #eceff1;
  background-repeat: no-repeat, repeat, repeat;
  background-size: cover, 172px 155.5px, 100% 100%;
  background-position: center bottom, left top, 0% 0%;
  background-attachment: scroll, scroll, scroll;
}

.intro-1 {
  max-width: 700px;
  margin-top: 150px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: museo-slab;
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}

.intro-2 {
  max-width: 600px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  font-size: 1em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.83);
}

.intro-3 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 120px;
  background-color: rgb(255, 255, 255);
}

.intro-4 {
  margin-top: 10px;
  font: 1.5em/1.38 museo-slab;
  text-align: center;
  color: #263238;
}

.intro-5 {
  max-width: 500px;
  margin-top: 5px;
  font-size: 1.125em;
  line-height: 1.5;
  text-align: center;
  color: #37474f;
}

.intro-6 {
  max-width: 600px;
  min-height: 1px;
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.38;
  color: #455a64;
}

@media(max-width: 960px) {
  .intro-container .image {
    height: auto;
  }

  .navbar .logo {
    margin-left: 0.74815%;
  }

  .navbar .nav {
    margin-right: 0.86291%;
  }
}

@media(max-width: 610px) {
  ._container{
    min-height: 550px;
  }

  body {
    font-size: 1em;
  }

  .footer .footer-container {
    margin-top: 396px;
  }

  .header-container .navbar {
    width: 100%;
    height: 100px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .intro-container .image {
    height: auto;
  }

  .navbar .logo {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .navbar .nav {
    float: none;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .header-container .intro-1 {
    margin-top: 117px;
  }

  ._container .header-container-1 {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}