body {
  background-color: rgb(236, 239, 241);
  font: 300 1em/1.38 museo-sans, Avenir, "Open Sans", Helvetica, Sans-serif;
  color: #546e7a;
}


.contact {
  margin-right: auto;
  margin-left: auto;
  line-height: 1.38;
  text-align: center;
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 67;
  width: 100%;
  height: 250px;
  background-image: -webkit-linear-gradient(118deg, #546e7a 0%, #37474f 100%);
  background-image:    -moz-linear-gradient(118deg, #546e7a 0%, #37474f 100%);
  background-image:      -o-linear-gradient(118deg, #546e7a 0%, #37474f 100%);
  background-image:     -ms-linear-gradient(118deg, #546e7a 0%, #37474f 100%);
  background-image:         linear-gradient(332deg, #546e7a 0%, #37474f 100%);
}

.container .featured {
  width: 9.7916666666%;
  margin: 12px auto 0;
}

.featured {
  display: block;
  height: 40px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  background: none, -webkit-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%) rgb(255, 255, 255);
  background: none,    -moz-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%) rgb(255, 255, 255);
  background: none,      -o-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%) rgb(255, 255, 255);
  background: none,     -ms-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%) rgb(255, 255, 255);
  background: none,         linear-gradient(180deg, #4fc3f7 0%, #0288d1 100%) rgb(255, 255, 255);
  background-repeat: repeat, repeat;
  background-size: 100% 100%, 100% 100%;
  background-position: 0% 0%, 0% 0%;
  background-attachment: scroll, scroll;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.featured:hover {
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), -webkit-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:    -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),    -moz-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:      -o-linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),      -o-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:     -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),     -ms-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:         linear-gradient(450deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),         linear-gradient(180deg, #4fc3f7 0%, #0288d1 100%);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.featured:active {
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), -webkit-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:    -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),    -moz-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:      -o-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),      -o-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:     -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),     -ms-linear-gradient(270deg, #4fc3f7 0%, #0288d1 100%);
  background-image:         linear-gradient(450deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),         linear-gradient(180deg, #4fc3f7 0%, #0288d1 100%);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.featured-project {
  width: 80%;
  margin: 269px auto 0;
  padding-top: 30px;
}

.featured-project .featured {
  z-index: 34;
}

.featured-project .image,
.project-12,
.project-2,
.project-6 {
  margin: 0 auto;
}

.featured-project .notfeatured {
  position: relative;
  z-index: 35;
  width: 25%;
  margin: 15px 0 0 3.98976%;
  border-color: rgba(255, 255, 255, 0.45);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
}

.featured-project .notfeatured:active,
.featured-project .notfeatured:hover,
.notfeatured-4:active,
.notfeatured-4:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.featured-project .project-pic,
.image-2,
.image-3,
.image-5,
.image-6,
.image-7,
.project-pic-3,
.project-pic-6,
.project-pic-8 {
  float: left;
}

.featured-project .project-text {
  float: right;
  width: 48.9539748953%;
  padding-bottom: 50px;
}

.footer {
  position: relative;
  float: left;
  clear: both;
  z-index: 78;
  width: 100%;
  height: 100px;
  margin-top: -17px;
}

.footer-container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(236, 239, 241);
}

.hackcsua {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.header-container {
  float: left;
  width: 80%;
  margin: 40px 0 0 10%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.intro {
  margin-right: auto;
  margin-left: auto;
  line-height: 1.38;
  text-align: center;
}

.logo {
  float: left;
  margin: 2px 0 0 0.75174%;
  font-size: 1.375em;
  font-weight: 1000;
  line-height: 1.38;
  color: #263238;
  font: 500 1.375em/1.38 museo-slab;
  font-family: "museo-slab";
}

.nav {
  float: right;
  margin: 10px 0.86632% 0 0;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.38;
  text-transform: uppercase;
  color: #006aa9;
}

.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 17px 30px 20px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(255, 255, 255, 0.5) inset;
}

.navbar ul{
  list-style-type: none;
  d
}

.navbar ul li{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar ul li a{
  color: #37474f;
}

.navbar ul .selected a{
  color: #2e7d32;
}

.navbar ul li a:hover{
  color: #455a64;
}

.navbar ul .selected a:hover{
  color: #388e3c;
}

.footer a{
  font-size: 1.5em;
  color: #607d8b;
  padding: 20px;
}

.notfeatured {
  display: block;
  float: left;
  height: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
}

.notfeatured:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.notfeatured:active {
  background-color: rgba(0, 0, 0, 0.07);
}

.project .project {
  width: 79.6666666666%;
}

.project-dark {
  float: left;
  line-height: 1.38;
}

.project-dark-10 p,
.project-dark-12 p,
.project-dark-14 p,
.project-dark-16 p,
.project-dark-2 p,
.project-dark-4 p,
.project-dark-8 p {
  margin-bottom: 1em;
}

.project-pic {
  width: 48.9539748953%;
}

.project-text .featured {
  position: relative;
  float: left;
  clear: both;
  width: 25%;
  margin-top: 15px;
}

.social {
  margin: 35px auto 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contact-1 {
  margin-top: 60px;
  font-family: museo-slab;
  font-size: 1.75em;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.contact-2 {
  margin-top: 5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  color: rgba(255, 255, 255, 0.87);
}

.featured-2 {
  z-index: 27;
}

.featured-3 {
  z-index: 8;
}

.image-4 {
  float: right;
  /*max-width: 450px;*/
}

.intro-1 {
  max-width: 700px;
  margin-top: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: museo-slab;
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}

.intro-2 {
  max-width: 600px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  font-size: 1em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}

.notfeatured-2 {
  position: relative;
  z-index: 28;
  width: 25.2136752136%;
  margin: 15px 0 0 3.99306%;
  border-color: rgb(61, 181, 238);
  font-weight: 100;
  color: rgb(20, 150, 218);
}

.notfeatured-4 {
  position: relative;
  z-index: 9;
  width: 25%;
  margin: 15px 0 0 4.29897%;
  border-color: rgba(255, 255, 255, 0.45);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
}

.notfeatured-5 {
  clear: both;
  width: 25.2136752136%;
  margin-top: 14px;
  border-color: rgb(61, 181, 238);
  font-weight: 100;
  color: rgb(20, 150, 218);
}

.notfeatured-3,
.notfeatured-6 {
  clear: both;
  width: 25.2136752136%;
  margin: 10px 0 0 -0.00334%;
  border-color: rgb(61, 181, 238);
  font-weight: 100;
  color: rgb(20, 150, 218);
}

.notfeatured-7 {
  clear: both;
  width: 25.2136752136%;
  margin: 15px 0 0 -0.00334%;
  border-color: rgb(61, 181, 238);
  font-weight: 100;
  color: rgb(20, 150, 218);
}

.project-1 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
}

.project-11 {
  float: left;
  clear: both;
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(180deg, #039be5 0%, #0d47a1 100%) #0277bd;
  background:    -moz-linear-gradient(180deg, #039be5 0%, #0d47a1 100%) #0277bd;
  background:      -o-linear-gradient(180deg, #039be5 0%, #0d47a1 100%) #0277bd;
  background:     -ms-linear-gradient(180deg, #039be5 0%, #0d47a1 100%) #0277bd;
  background:         linear-gradient(270deg, #039be5 0%, #0d47a1 100%) #0277bd;
}

.project-13 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 60px;
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  background-color: rgb(255, 255, 255);
}

.project-10,
.project-14,
.project-4,
.project-8 {
  float: left;
  margin-left: 10.16667%;
}

.project-5 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  background: url('../images/whalr-bg.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.project-7 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
}

.project-3,
.project-9 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 60px;
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  background-color: rgb(247, 250, 252);
}

.project-dark-1 {
  max-width: 700px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: museo-slab;
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.project-dark-13,
.project-dark-7 {
  max-width: 700px;
  margin-left: 0.85115%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: museo-slab;
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.project-dark-14,
.project-dark-8 {
  clear: both;
  max-width: 600px;
  margin-top: 20px;
  padding-bottom: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.project-dark-11,
.project-dark-15,
.project-dark-3,
.project-dark-5,
.project-dark-9 {
  max-width: 700px;
  font-family: museo-slab;
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  color: #263238;
}

.project-dark-10,
.project-dark-12,
.project-dark-16,
.project-dark-4,
.project-dark-6 {
  clear: both;
  max-width: 600px;
  margin-top: 10px;
  font-size: 1em;
  color: #546e7a;
}

.project-dark-2 {
  clear: both;
  max-width: 600px;
  margin-top: 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  font-size: 1em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}

.project-pic-2,
.project-pic-4,
.project-pic-5,
.project-pic-7 {
  float: right;
  margin-right: 0.31381%;
}

.project-text-4 {
  float: left;
  width: 49.1582766736%;
  padding-bottom: 50px;
}

.project-text-2,
.project-text-5 {
  float: left;
  width: 48.9539748953%;
}

.project-text-7 {
  float: left;
  width: 49.1582766736%;
  margin-top: 60px;
  padding-bottom: 50px;
}

.project-text-3,
.project-text-6,
.project-text-8 {
  float: right;
  width: 48.9539748953%;
}

._container-1 {
  float: left;
  width: 100%;
  background: #000000;
  background: url('../images/angle.png'), -webkit-linear-gradient(128deg, #009688 0%, #2e7d32 100%) #eceff1;
  background: url('../images/angle.png'),    -moz-linear-gradient(128deg, #009688 0%, #2e7d32 100%) #eceff1;
  background: url('../images/angle.png'),      -o-linear-gradient(128deg, #009688 0%, #2e7d32 100%) #eceff1;
  background: url('../images/angle.png'),     -ms-linear-gradient(128deg, #009688 0%, #2e7d32 100%) #eceff1;
  background: url('../images/angle.png'),         linear-gradient(322deg, #009688 0%, #2e7d32 100%) #eceff1;
  background-repeat: no-repeat, repeat;
  background-size: 2000px 1961.5px, 100% 100%;
  background-position: center bottom, 0% 0%;
  background-attachment: scroll, scroll;
}

@media(max-width: 1024px) {
  .container {
    position: relative;
    z-index: 67;
  }

  .featured-project .featured {
    z-index: 34;
  }

  .featured-project .notfeatured {
    position: relative;
    z-index: 35;
    margin-left: 3.9856%;
  }

  .featured-project .project-pic {
    width: 100%;
  }

  .featured-project .project-text {
    float: left;
    clear: both;
    width: 100%;
    margin-left: 0.5188%;
  }

  .footer {
    position: relative;
    z-index: 78;
    margin-top: 0;
  }

  .navbar .logo {
    margin-left: 0.74815%;
  }

  .navbar .nav {
    margin-right: 0.86291%;
  }

  .project .project-pic {
    width: 100%;
  }

  .project .project-text {
    width: 100%;
  }

  .project-pic .hackcsua,
  .project-pic .image {
    height: auto;
  }

  .project-text .featured {
    position: relative;
  }

  .container .contact-1 {
    margin-top: 50px;
  }

  .project .project-10,
  .project .project-14,
  .project .project-4,
  .project .project-8 {
    margin-left: 10.16602%;
  }

  .project .project-pic-2 {
    clear: both;
    margin-top: 20px;
    margin-right: 0.31054%;
  }

  .project .project-pic-4 {
    clear: both;
    height: auto;
    margin-right: 0.31054%;
  }

  .project .project-pic-5,
  .project .project-pic-7 {
    clear: both;
    margin-right: 0.31054%;
  }

  .project .project-text-3 {
    clear: both;
    margin-top: 10px;
  }

  .project .project-text-6 {
    clear: both;
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .project .project-text-8 {
    clear: both;
    padding-bottom: 20px;
  }

  .project-text .featured-2 {
    z-index: 27;
  }

  .project-text .featured-3 {
    z-index: 8;
  }

  .project-text .notfeatured-2 {
    position: relative;
    z-index: 28;
    margin-left: 3.99003%;
  }

  .project-text .notfeatured-4 {
    position: relative;
    z-index: 9;
    margin-left: 4.29853%;
  }

  .project-text .notfeatured-3,
  .project-text .notfeatured-6,
  .project-text .notfeatured-7 {
    margin-left: 0;
  }

  .project-text .project-dark-13,
  .project-text .project-dark-7 {
    margin-left: 0.8499%;
  }

  ._container-1 {
    background-image: none, -webkit-linear-gradient(128deg, #009688 0%, #2e7d32 100%);
    background-image: none,    -moz-linear-gradient(128deg, #009688 0%, #2e7d32 100%);
    background-image: none,      -o-linear-gradient(128deg, #009688 0%, #2e7d32 100%);
    background-image: none,     -ms-linear-gradient(128deg, #009688 0%, #2e7d32 100%);
    background-image: none,         linear-gradient(322deg, #009688 0%, #2e7d32 100%);
  }
}

@media(max-width: 610px) {
  body {
    font-size: 1em;
  }

  .container {
    position: relative;
    z-index: 67;
  }

  .container .featured {
    width: 28.7272727272%;
  }

  .featured-project .featured {
    z-index: 34;
  }

  .featured-project .notfeatured {
    position: relative;
    z-index: 35;
    margin-left: 3.98438%;
  }

  .featured-project .project-text {
    margin-left: 0.49716%;
  }

  .footer {
    position: relative;
    z-index: 78;
  }

  .header-container .navbar {
    height: 100px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .navbar .logo {
    font-family: "museo-slab";
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .navbar .nav {
    float: none;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #1e5828;
  }

  .project-pic .hackcsua,
  .project-pic .image {
    height: auto;
  }

  .project-text .featured {
    position: relative;
  }

  .header-container .intro-1 {
    margin-top: 20px;
  }

  .project .project-10,
  .project .project-14,
  .project .project-4,
  .project .project-8 {
    margin-left: 10.15625%;
  }

  .project .project-pic-2,
  .project .project-pic-4,
  .project .project-pic-5,
  .project .project-pic-7 {
    margin-right: 0.30312%;
  }

  .project-text .featured-2 {
    z-index: 27;
  }

  .project-text .featured-3 {
    z-index: 8;
  }

  .project-text .notfeatured-2 {
    position: relative;
    z-index: 28;
    margin-left: 3.97618%;
  }

  .project-text .notfeatured-4 {
    position: relative;
    z-index: 9;
    margin-left: 4.29356%;
  }

  .project-text .project-dark-13,
  .project-text .project-dark-7 {
    margin-left: 0.83803%;
  }

  ._container .header-container-1 {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}